.background-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: white;
}

.shape {
  position: absolute;
  z-index: 1;
  width: 100%; /* responsive scaling */
  height: auto;
  pointer-events: none;
}

.circle {
  bottom: 30%;
  right: 18.5%;
  max-width: 250px;
}

.circle-top {
  top: -7%;
  left: 4%;
  max-width: 250px;
}

.lines {
  top: 0%;
  left: 3.5%;
}

.wave-top {
  top: 10%;
  right: 0%;
  max-width: 500px;
}
.wave-bottom {
  bottom: 0%;
  left: -5%;
  max-width: 1000px;
  max-height: 700px;
}

.wave-bottom-mobile {
  display: none;
}

@media (max-width: 768px) {
  .wave-top {
    top: 2%;
    max-width: 120px;
  }

  .circle {
    bottom: 33.5%;
    right: -12%;
    max-width: 120px;
  }

  .circle-top {
    top: -3%;
    left: -4%;
    max-width: 120px;
  }

  .lines {
    top: 0%;
    left: 7%;
    transform: scale(2.6);
  }

  .wave-bottom {
    display: none;
  }

  .wave-bottom-mobile {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    max-width: 78%;
    height: auto;
  }
}
